<ng-template #messageItem let-item="item">
  <a class="subject" matRipple [routerLink]="item[1]" routerLinkActive="active">
    <div class="flex-column flex-grow-1">
      <span class="font-size-20">
        {{ item[0] }}
      </span>
      <span class="font-size-12">
        {{ item[1] | date : 'yyyy-MM-dd HH:mm' }}
      </span>
    </div>
    <div class="icons" (click)="deleteMessage($event, item[1])" matRipple>
      <span class="material-symbols-outlined" style="font-size: 20px">
        delete
      </span>
    </div>
  </a>
</ng-template>

<app-toolbar>
  <div>
    <button
      mat-flat-button
      color="primary"
      (click)="newMessage()"
      class="font-size-16"
    >
      <mat-icon fontSet="material-symbols-outlined"> mail </mat-icon>
      <span class="">New Message</span>
    </button>
  </div>

  <button
    mat-stroked-button
    class="ml-normal"
    style="font-size: 16px"
    [disabled]="!selectionService.selectedMessageId"
    (click)="
      nostrDataService.messages?.deleteItem(selectionService.selectedMessageId)
    "
  >
    <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
    <span>Delete</span>
  </button>

  <div class="flex-grow-1"></div>
</app-toolbar>

<mtx-split [restrictMove]="true">
  <!-- LEFT -->
  <mtx-split-pane [size]="25">
    <div class="flex-column">
      <ng-container
        *ngIf="nostrDataService.messages?.value$ | async as messages"
      >
        <ng-container *ngFor="let item of messages.value?.items">
          <ng-container
            [ngTemplateOutlet]="messageItem"
            [ngTemplateOutletContext]="{ item: item }"
          >
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </mtx-split-pane>

  <!-- RIGHT -->
  <mtx-split-pane [size]="75">
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </mtx-split-pane>
</mtx-split>
