@import './dimensions.scss';

.mt-huge {
  margin-top: $huge;
}

.mt-large {
  margin-top: $large;
}

.mt-normal {
  margin-top: $normal;
}

.mt-small {
  margin-top: $small;
}

.mt-tiny {
  margin-top: $tiny;
}

.mr-huge {
  margin-right: $huge;
}

.mr-large {
  margin-right: $large;
}

.mr-normal {
  margin-right: $normal;
}

.mr-small {
  margin-right: $small;
}

.mr-tiny {
  margin-right: $tiny;
}

.ml-huge {
  margin-left: $huge;
}

.ml-large {
  margin-left: $large;
}

.ml-normal {
  margin-left: $normal;
}

.ml-small {
  margin-left: $small;
}

.ml-tiny {
  margin-left: $tiny;
}

.mb-huge {
  margin-bottom: $huge;
}

.mb-large {
  margin-bottom: $large;
}

.mb-normal {
  margin-bottom: $normal;
}

.mb-small {
  margin-bottom: $small;
}

.mb-tiny {
  margin-bottom: $tiny;
}
