:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  overflow-y: hidden;

  .main-area {
    height: 100%;
    overflow-y: hidden;
  }
}
