:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;

  ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-outline-width: 0px;
    --mdc-outlined-text-field-focus-outline-width: 0px;
    --mdc-outlined-text-field-container-shape: 0px;
  }
}

.row-0 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
}

.row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0 8px 16px;
  // box-sizing: border-box;
}

.row-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  // padding: 16px;
  // box-sizing: border-box;
}

.message {
  height: 100%;

  overflow-y: auto;

  textarea {
    width: 100%;
    border-width: 0;
    padding: 16px;
    box-sizing: border-box;
    resize: none;
    font-family: inherit;
    font-size: 16px;
    overflow: hidden;

    outline: 0;
  }
}

.to-label {
  font-size: 12px;
  padding: 2px 2px 2px 8px;

  border-radius: 4px;
  border: 1px solid lightgray;

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;

  cursor: pointer;

  &:hover {
    background-color: lightgray;
  }
}
